<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="二手,相机,照相机,摄影,摄影器材,跳蚤,单反,镜头"/>
    <title>{{ city.name_cn }}二手摄影器材</title>
    <meta name="description" content="{{ msg.title }}" />
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=2.0"/>
    <link href="/css/message.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function subscribe_submit(){
            email_str=document.getElementById("email").value
            if(email_str==""){
                document.getElementById("email").focus()
                alert("邮箱不能为空");
                return false;
            }
            search_form.submit();
        }
    </script>
</head>
<body>
{% block content %}
    <form id="search_form" name="search_form" action="/pe/create_subscribe/" method="post">
        <table>
            <tr>
                <td>城市</td>
                <td>
                    <select name="city_id" id="city_id" size="1" style="width:55px">
                        {% for c in city_list %}
                            <option value="{{ c.id }}" {% ifequal c.id city.id %} selected="1"{% endifequal %}>{{ c.name_cn }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>城区</td>
                <td>
                    <select name="district_id" id="district_id" size="1" style="width:70px">
                        {% for district in district_list %}
                            <option value="{{ district.id }}">{{ district.name_cn }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>品牌</td>
                <td>
                    <select name="brand_id" id="brand_id" size="1">
                        <option value="0">不限</option>
                        {% for brand in brand_list %}
                            <option value="{{ brand.id }}" {% ifequal brand.id brand_id %} selected="1"{% endifequal %}>{{ brand.name_cn }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>关键字</td>
                <td>
                    <input type="text" size="20" name="keyword" id="keyword" value="{{ keyword }}" onfocus="if (this.value=='请输入关键字') this.value='';" >
                </td>
            </tr>
            <tr>
                <td>价格</td>
                <td>
                    <input type="text" size="6" name="min_price" id="min_price" value="{% ifnotequal min_price 0 %}{{ min_price }}{% endifnotequal %}">-
                    <input type="text" size="6" name="max_price" id="max_price" value="{% ifnotequal max_price 0 %}{{ max_price }}{% endifnotequal %}">
                </td>
            </tr>
            <tr>
                <td>成色</td>
                <td>
                    <select name="quility" id="quility" size="1">
                        <option value="95" >95新</option>
                        <option value="90" >90新</option>
                        <option value="8" >80新</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td>
                    <input type="text" size="20" name="email" id="email" value="{{ user.email }}">
                </td>
            </tr>
        </table>
        <div>
            <input type="hidden" name="phone_number" id="phone_number" value="{{ phone_number }}" >
            <input type="hidden" name="phone_ime" id="phone_ime" value="{{ phone_ime }}" >
            <input type="hidden" name="business_id" id="business_id" value="1" >
            <a id="subscribe" href="/pe/{{ city.name_ab }}/" onclick="subscribe_submit();return false;">订阅新消息</a>
        </div>
    </form>
{% endblock %}
</body>
</html>