<form action="/frontserver/update_subscribe/" method="post">
    <table>
        <tr>
            <td><label for="subscribe_id">subscribe_id</label></td>
            <td><input type="text" name="subscribe_id" id="subscribe_id" value="{{sub.id}}" readonly/>*不可修改</td>
        </tr>
        <tr>
            <td><label for="city_id">city_id</label></td>
            <td><input type="text" name="city_id" id="city_id" value="{{sub.city_id}}"/>必填</td>
        </tr>
        <tr>
            <td><label for="brand_id">brand_id</label></td>
            <td><input type="text" name="brand_id" id="brand_id" value="{{sub.brand_id}}"/></td>
        </tr>
        <tr>
            <td><label for="keyword">keyword</label></td>
            <td><input type="text" name="keyword" id="keyword" value="{{sub.keyword}}"/></td>
        </tr>
        <tr>
            <td><label>price range</label></td>
            <td>from:<input type="text" name="min_price" id="min_price" value="{{sub.min_price}}"/></td>
            <td>to:<input type="text" name="max_price" id="max_price" value="{{sub.max_price}}"/></td>
        </tr>
        <input type="hidden" name="business_id" value="1"/>
        <input type="hidden" name="login_id" value="{{ user.email }}"/>
        <input type="hidden" name="user_token" value="{{ user.perishable_token }}"/>
    </table>
    <div>
        <input type="submit" value="提交">
    </div>
</form>