<html>
	<head>
		<title>二手摄影器材</title>
		<meta name="description" content="二手 跳蚤 摄影 镜头 单反 相机 照相机 佳能 尼康 奥林巴斯 富士" />
	<link href="css/message.css" rel="stylesheet" type="text/css" />
	</head>
<body>
<h3>二手摄影器材</h3><br/>
请选择你的城市   
<table class="msg_content" border="1" cellspacing="1" cellpadding="1" width="250px">

	<tr>
        <td><a href="/pe/bj">北京</a></td>
    </tr>
    <tr>
        <td><a href="/pe/sh">上海</a></td>
    </tr>
    <tr>
        <td><a href="/pe/gz">广州</a></td>
    </tr>
    <tr>
        <td><a href="/pe/sz">深圳</a></td>
    </tr>
    <tr>
        <td><a href="/pe/tj">天津</a></td>
	</tr>
	
</table>

</body>
</html>
